<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/backgrnd/LogoApp.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/LogIn.css">
    <title>LogIn</title>
</head>
<body>
          


    <div class="white">
        <div class="black">
            <div class="green">
                
                   
                  
                  <div class="inside">

                        <div class="continer">
                     
                          
                        

                           
                               


                            <div class="inpt">
                                <form action="/" method="post">

                                   <div class="info">
                                   




                                    <div class="page5"  >
                                        <img src="/backgrnd/LogoHOPE.png" alt="error">
                                            <div class="divindise">
                                                <h4 > HOPE CLUBE <br>Thanks You !</h4>

                                                <div class="contactUs">
                                                    <h4 style="text-align: left;">contact as :</h4>
                                                    <div class="lastone">


                                                        <div class="ter">
                                                                    <div class="contact">
                                                                        <a href="https://www.facebook.com/profile.php?id=100085660403815"><i class="fa-brands fa-facebook" style="color: blue;"></i></a>
                                                                        <div class="info">
                                                                            <a href="https://www.facebook.com/profile.php?id=100085660403815"> <h1 style="font-size: 13px; color: blue; cursor: pointer;">FACEBOOK</h1></a>
                                                                            <h6 style="font-size: 10px; color: #dbd2d2; ">this is my facebook , contact us  </h6>
                                                                        </div>
                                                                    </div>

                                                                    <div class="contact">
                                                                        <a href="https://www.instagram.com/laz_hhar_x0/"><i class="fa-brands fa-instagram" style="color: rgb(226, 196, 22);"></i></a>
                                                                        
                                                                        <div class="info" >
                                                                            <a href="https://www.instagram.com/laz_hhar_x0/"><h1 style="font-size: 13px;color: rgb(226, 196, 22);">INSTAGRAM</h1></a>
                                                                            <h6 style="font-size: 10px; color:#dbd2d2">this is my instagram , contact us </h6>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="contact" >
                                                                        <a href="https://www.tiktok.com/@hope_club_17"> <i class="fa-brands fa-tiktok" style="color:rgb(7, 8, 8)"></i> </a>
                                                                       
                                                                        <div class="info">
                                                                            <a href="https://www.tiktok.com/@hope_club_17"> <h1 style="font-size: 13px; color: rgb(7, 8, 8)">TikTok</h1></a>
                                                                            <h6 style="font-size: 10px;color: #dbd2d2";">this is my telegram , contact us </h6>
                                                                        </div>
                                                                    </div>

                                                        </div>
                                        
                                                        


                                                    </div>
                                                </div>

                                                
                                            </div>

                                                <div class="btn">
                                                    <form action="/fnshh">
                                                        <a href="http://localhost:3000/">Finish</a>
                                                    </form>
                                                </div>

                                           </div>






                                    
                                   </div>
                                      
                                   
                                  


                                </form>
                            </div>      

                             
                         
                      


                            
                            
                        </div>
                        
                   </div>
                
            </div>
         </div>
    </div>
    


<!-- <script>
    function finishh(){
        
    }
</script> -->


       

<script src="/JS/Login.js" type="module"></script>
</body>
</html>