<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/backgrnd/LogoHOPE.png" type="image/x-icon" style="border-radius: 50%;">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/CSS/LogIn.css">
    <title>Hope</title>
</head>
<body>
            <!-- <style>
                *{
            padding: 0;
            margin: 0;
            box-sizing: border-box;
            font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }
        body{
            height: 100vh;
            opacity: 1;
            transition: opacity 0.5s ease-in-out;
            background: linear-gradient(50deg, #5FD068, #0C359E);

        }
        body.fade-out {
            opacity: 0;
        }

        .white{
            width: 100%;
            height: 96%;
            border-radius: 14px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .black {
            width: 100%;
            height: 100%;
            border-radius: 12px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        .green{
            max-width: 540px;
            width: 100%;
            height: 744px;
            margin:  auto;
            border-radius: 4px;
            display: inline;
            text-align: center;
            justify-content: space-between;
            
        }
         
        

        .inside{
            display: flex;
            justify-content: center;
            align-items: center;
        }




        .continer{
            margin-top: 10%;
            padding: 30px;
            width: 78%;
            height: 530px;
            background-color: rgba(138, 136, 136, 0.047);
            border: 2px solid #26e2b6;
            border-radius: 13px;
        }

        

        .continer  .gosh{
            color: aqua;
            font-size: 13px;
            padding: 0 4px;
        }

       


        .inpt{
            margin: 30px 0;
            padding: 20px 0;
            color:#1140b6 ;
            font-size: 19px;
            font-weight: 600;
            display: flex;
            justify-content: space-around;
            position: relative;
        }
       
        .inpt .create{
            padding: 8px 12px;
            border: none;
            outline: none;
            border-radius: 12px;
            background-color: #275bdd;
            color: #26e2b6;
            font-size: 19px;
            font-weight: 600;
            cursor: pointer;
        }
        .inpt .create:hover{
            background-color: #0C359E;
        }
        
         .tel{
            margin: 13px 0 ;
            display: flex;
            justify-content: space-between;
        }
        .inpt input{
            border-radius: 6px;
            color: #8deed1;
            margin-left: 15px;
            font-size: 15px;
            font-weight: 600;
            border: none;
            outline: none;
            background: linear-gradient(to right, #0c359edd , #58ad5f);
            padding: 9px 12px ;
        }
        .inpt input::selection{
            background-color: #58ad5f;
            color: #fff;
        }
        
         .info .page3 .page3one {
            padding:  0 9px;
            width: 98%;
            text-align: left;
        }

          textarea::placeholder{
            color: #1de7b8;
        }
            .info .page3 .page3one textarea{
            width: 100%;
            border: 1px solid  #26e2b674;
            outline: none;
            background-color: #26e2b602;
            color: aqua;
            border-radius: 12px;
            padding: 6px;
            margin: 10px 0;
            font-size: 16px;
        }

        
            .move {
            /* background-color: #0C359E; */
            display: flex;
            justify-content: space-between;
            color: #0C359E;
            font-size: 24px;
            /* position: absolute; */
            /* bottom: 2px;  */
        }
       

       
            </style> -->



    <div class="white">
        <div class="black">
            <div class="green">
                
                   
                  
                  <div class="inside">

                        <div class="continer">
                           <!-- <div id="frstpage">
                           </div> -->
                           
                           <div id="page0" style="display: block;">
                            <img src="/backgrnd/LogoHOPE.png" alt="error" width="120px" height="120px"  style="border-radius: 50%; margin: 10px 0 0;">
                            <h1>    انضم الينا الان<br>!hope  في  </h1>
                            <button onclick="hidefirstpage0()"> enter </button>
                          </div>  
                              
                            <div class="gosh" id="indam" style="display: none;">
                                        <div class="circle">
                                            <!-- <svg xmlns="http://www.w3.org/2000/svg" version="1.1" width="190px" height="190px">
                                                <defs>
                                                <linearGradient id="GradientColor">
                                                    <stop offset="0%" stop-color="#1d4ab0" />
                                                    <stop offset="100%" stop-color="#40e596" />
                                                </linearGradient>
                                                </defs>
                                                
                                                <circle cx="80" cy="100" r="30" stroke-linecap="round" />
                                                <text x="80" y="105" text-anchor="middle" fill="#000" font-size="20px" font-family="Arial" dy=".3em">
                                            </svg> -->
                                        </div>
                            </div>
                          
                        

                           
                               


                            <div class="inpt">
                                <form action="/" method="post">

                                   <div class="info">
                                       <!-- firstname,  lastname,  email,  phone  -->
                                       <div id="page1" style="display: none;">
                                               <div class="tel" >
                                                   <label for="title">First name  :</label><br>
                                                   <input type="text" id="telonee" name="frstName" required>
                                               </div>
   
                                               <div class="tel" id="teltwo">
                                                   <label for="title">Last name  :</label><br>
                                                   <input type="text" id="teltwoo" name="lastName" required>
                                               </div>
                                            
                                               <div class="tel" id="telthree">
                                                   <label for="title">Email  :</label><br>
                                                   <input type="email" id="titleemail" name="Email" placeholder="don't forget :  @gmail.com" required>
                                               </div>
   
                                               <div class="tel" id="telfour">
                                                   <label for="title">Tlf  :</label><br>
                                                   <!-- <input type="number"  id="telfourr" name="Tlf" required> -->
                                                   <input type="text" id="telfourr" maxlength="10" placeholder="Enter 10 numbers ..." /><br>
                                                  
                                                  
                                                   
                                               </div>
                                       </div>
                                       
                                       
                                       <!-- matrecuL  , choix , annee -->
                                       <div id="page2" style="display: none;">
                                           <div class="tel">
                                               <label for="title">MatrecuL :</label><br>
                                               <input type="text" id="MatrecuL" maxlength="12" placeholder="bac + MatrecuL" name="MatrecuL" required>
                                           </div>
   
                                           <div class="tel">
                                               <label for="title">Choix :</label><br>
                                               <!-- <input type="text" id="Choix" name="Choix" required> -->
                                              
                                               <select id="Choix" name="Choix">
                                                <!-- <option value="choose">choose  ...</option>
                                                <option value="informatique">informatique</option>
                                                <option value="biology ">biology</option>
                                                <option value="droit">droit</option>
                                                <option value="ecoomarce">ecoomarce</option>
                                                <option value="mathe">mathe</option> -->
                                                        <option value="choose">choose  ...</option>
                                                        <option value="informatique">informatique</option>
                                                        <option value="Biologists  ">Biologists</option>
                                                        <option value="Math">Math</option>
                                                        <option value="Physics">Physics</option>
                                                        <option value="Chemistry">Chemistry</option>
                                                        <option value="Geologic">Geologic</option>
                                                        <option value="Sports">Sports</option>
                                                        <option value="Medcine">Medcine</option>
                                                        <option value="St">St</option>
                                                        <option value="Droi">Droi</option>
                                                        <option value="Humanity science">Humanity science</option>
                                                        <option value="Comunety science">Comunety science</option>
                                                        <option value="Arabic">Arabic</option>
                                                        <option value="Arts">Arts</option>
                                                        <option value="Author">Author</option>
                                              </select>

                                           </div>
                                       
                                           <div class="tel">
                                               <label for="title">annee :</label><br>
                                               <!-- <input type="text" id="annee" name="annee" required> -->
                                               <select id="annee" name="annee">
                                                <option value="choose">choose  ...</option>
                                                <option value="Lisance 1">Lisance 1</option>
                                                <option value="Lisance 2">Lisance 2</option>
                                                <option value="Lisance 3">Lisance 3</option>
                                                <option value="Master 1">Master 1</option>
                                                <option value="Master 2">Master 2</option>
                                              </select>

                                           </div>
                                       </div>
                                       
                                       <!-- exprience  , why you want insid hope -->
                                       <div id="page3"  style="display: none;">
                                       
                                                   <div class="page3one">
                                                    <label >what you know : </label><br>
                                                    <textarea  rows="5" cols="50" placeholder="enter your disecription  ... " name="whatYouKnow" id="whatUknow"></textarea>                                                  
                                                   </div>

                                                   <div class="page3one">
                                                    <label > why you want Sign In to Clube Hope :</label><br>
                                                    <textarea  rows="5" cols="50" placeholder="enter your disecription  ... " name="WhyYouWantJoining" id="WhyUsinIn"></textarea>                                                  
                                                   </div>
                                                
                                                   
                                                   <button class="create" id="sbmt" style="display: none;" >Submit</button>
                                       </div>


                                     
<!-- 
                                       <div class="page5" style="display: none;">
                                        <img src="/backgrnd/LogoHOPE.png" alt="error">
                                            <div class="divindise">
                                                <h4 > HOPE CLUBE <br>Thanks You !</h4>

                                                <div class="contactUs">
                                                    <h4 style="text-align: left;">contact as :</h4>
                                                    <div class="lastone">


                                                        <div class="ter">
                                                                    <div class="contact">
                                                                        <a href="https://www.facebook.com/profile.php?id=100085660403815"><i class="fa-brands fa-facebook" style="color: blue;"></i></a>
                                                                        <div class="info">
                                                                            <a href="https://www.facebook.com/profile.php?id=100085660403815"> <h1 style="font-size: 13px; color: blue; cursor: pointer;">FACEBOOK</h1></a>
                                                                            <h6 style="font-size: 10px; color: #dbd2d2; ">thise my facebook thank you </h6>
                                                                        </div>
                                                                    </div>

                                                                    <div class="contact">
                                                                        <a href="https://www.instagram.com/laz_hhar_x0/"><i class="fa-brands fa-instagram" style="color: rgb(226, 196, 22);"></i></a>
                                                                        
                                                                        <div class="info" >
                                                                            <a href="https://www.instagram.com/laz_hhar_x0/"><h1 style="font-size: 13px;color: rgb(226, 196, 22);">INSTAGRAM</h1></a>
                                                                            <h6 style="font-size: 10px; color:#dbd2d2">thise my instagram thank you </h6>
                                                                        </div>
                                                                    </div>
                                                                    
                                                                    <div class="contact" >
                                                                        <a href=""> <i class="fa-brands fa-telegram" style="color: rgb(15,70,112)"></i> </a>
                                                                       
                                                                        <div class="info">
                                                                            <h1 style="font-size: 13px; color: rgb(15, 70, 112)">Telegram</h1>
                                                                            <h6 style="font-size: 10px;color: #dbd2d2";">thise my telegram thank you </h6>
                                                                        </div>
                                                                    </div>

                                                        </div>
                                        
                                                        


                                                    </div>
                                                </div>

                                                
                                            </div>
                                            <div class="btn">
                                                <button>Finish</button>
                                            </div>
                                       </div>  -->
                                         
                                       
                                       <!-- page 5  -->
                                       <!-- <div class="page5" id="page5" style="display: none;" >
                                        <img src="/backgrnd/LogoHOPE.png" alt="error">
                                            <div class="divindise">
                                                <h4 > HOPE CLUBE <br>Thanks You !</h4>

                                                <div class="contactUs">
                                                    <h4>contact as :</h4>
                                                    <div class="lastone">


                                                        <div class="ter">
                                                                    <div class="contact">
                                                                        <i class="fa-brands fa-facebook" style="color: blue;"></i>
                                                                        <div class="info">
                                                                            <h1 style="font-size: 13px; color: blue;">FACEBOOK</h1>
                                                                            <h6 style="font-size: 10px; color: blue;">thise my facebook thank you anayway</h6>
                                                                        </div>
                                                                    </div>

                                                                    <div class="contact">
                                                                        <i class="fa-brands fa-instagram" style="color: rgb(226, 196, 22);"></i>
                                                                        <div class="info">
                                                                            <h1 style="font-size: 13px;color: rgb(226, 196, 22);";" >INSTAGRAM</h1>
                                                                            <h6 style="font-size: 10px; color: rgb(226, 196, 22) ;">thise my facebook thank you anayway</h6>
                                                                        </div>
                                                                    </div>
                                                                    <div class="contact">
                                                                        <i class="fa-solid fa-envelope" style="color: rgb(187, 44, 44);"></i>
                                                                        <div class="info">
                                                                            <h1 style="font-size: 13px; color: rgb(222, 42, 42);">Gmail</h1>
                                                                            <h6 style="font-size: 10px;color:  rgb(222, 42, 42);";">thise my facebook thank you anayway</h6>
                                                                        </div>
                                                                    </div>

                                                        </div>
                                        



                                                    </div>
                                                </div>
                                            </div>
                                       </div> -->

                                   </div>
                                      
                                   
                                  


                                </form>
                            </div>      

                             
                          
                            <div id="error" style="display: none;">
                                <h6 style="color: red;">you dont enter value correct</h6><br>
                            </div>

                            <div class="move">
                                       
                                <div id="back" onclick="bck()" style="display: none ; transition: 1s;">
                                    <i class="fa-sharp fa-solid fa-arrow-left"></i>
                                </div>
                                
                                <div id="next" onclick="nxt()" style="display: none;">
                                 <i class="fa-sharp fa-solid fa-arrow-right"></i>
                                </div> 


                            </div>


                            
                            
                        </div>
                        
                   </div>
                
            </div>
         </div>
    </div>
    





        <script>
            const page0 = document.getElementById("page0");
            const page1 = document.getElementById("page1");
            const page2 = document.getElementById("page2");
            const page3 = document.getElementById("page3");
            const page5 = document.getElementById("page5");
            const back = document.getElementById("back");
            const next = document.getElementById("next");   
            const sbmt = document.getElementById("sbmt");   
            const indam = document.getElementById("indam");   
            const Choix = document.getElementById('Choix').value;
            const error = document.getElementById('error');
            // const annee = document.getElementById('annee').value;
          
function hidefirstpage0(){
    if (page0.style.display === "block") {
        page0.style.display = "none";
        page1.style.display = "block";
        next.style.display = "block";
        back.style.display = "block";
        next.style.marginLeft = "0px";
        }
}


function nxt(){
    const firstname = document.getElementById('telonee').value;
    const lastname = document.getElementById('teltwoo').value;
    const tlf = document.getElementById('telfourr').value.trim();
    const email = document.getElementById('titleemail').value.trim();

    const Choix = document.getElementById('Choix').value;    
    const annee = document.getElementById('annee').value;
    const MatrecuL = document.getElementById('MatrecuL').value;


 




    
while (firstname === "" || lastname === "" || tlf === "" || email === "") {
    error.style.display = "block";
    error.innerHTML = "Input all information";
    setTimeout(() => {
        error.style.display = 'none'; // تأكد من استخدام العنصر الصحيح هنا
    }, 2000);
    return;
}


 while (!(email.includes('@gmail.com') || email.includes('@GMAIL.COM'))) {
        error.style.display = "block";
        error.innerHTML="البريد الإلكتروني يجب أن يحتوي على gmail.com@";
        setTimeout(() => {
            error.style.display = "none";
        }, 2000);
        return;
    }
    
 while (tlf.length !== 10 || isNaN(tlf)) {
        error.style.display = "block";
        error.innerHTML="ادخل 10 ارفام كاملة في خانة الهاتف  : ";
        setTimeout(() => {
            error.style.display = "none";
        }, 2000);
        return;
    }

 while (( MatrecuL.length != 12 ) &&(page2.style.display === "block")) {
        error.style.display = "block";
        error.innerHTML="ادخل الرقم الجامعي كاملا ..";
        setTimeout(() => {
            error.style.display = "none";
        }, 2000);
        return;
    }
  
   while ((Choix ==="choose") &&(page2.style.display === "block")) {
    error.style.display = "block";
    error.innerHTML="select choix .";
    setTimeout(() => {
            error.style.display = "none";
        }, 2000);
    return;
   }
   while ((annee ==="choose") &&(page2.style.display === "block")) {
    error.style.display = "block";
    error.innerHTML="select annee .";
    setTimeout(() => {
            error.style.display = "none";
        }, 2000);
    return;
   }



       
   

    if (back.style.display === "none"){
        back.style.display = "block";

    }else if (page1.style.display === "block"){
        page1.style.display = "none";
        page2.style.display = "block";
        next.style.marginLeft = "0px";
    }else if (page2.style.display === "block"){

        page2.style.display = "none";
        page3.style.display = "block";
        next.style.display = "none";
        sbmt.style.display = "block";
    }

    
     }
    

function bck(){
                if ( page3.style.display === "block"){
                    sbmt.style.display="none";
                    page3.style.display ="none";
                    page2.style.display ="block";
                    next.style.display="block";
                    next.style.marginLeft = "0px";
                }else if (page2.style.display == "block") {
                    page2.style.display ="none";
                    page1.style.display ="block";
                    next.style.display="block";
                } else if(page1.style.display === "block"){
                    page1.style.display ="none";
                    page0.style.display = "block";
                    next.style.marginLeft="93%";
                    back.style.display="none";
                    next.style.display="none"
                } 
                
            }
            
function fnish() {
    if (page3.style.display === "block"){
        page3.style.display === "none";
        page5.style.display === "block";
    }
}
      
function fniish() {
    if (page5.style.display === "block") {
        location.reload();
    }
}
        </script>


<script src="/JS/Login.js" type="module"></script>
</body>
</html>