
*{
padding: 0;
margin: 0;
box-sizing: border-box;
font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
height: 100vh;
opacity: 1;
transition: opacity 0.5s ease-in-out;
background: linear-gradient(50deg, #1d4ab0 , #40e596);

}
body.fade-out {
opacity: 0;
}

.white{
width: 100%;
border-radius: 14px;
margin: 0 auto;
display: flex;
justify-content: center;
align-items: center;
}

.black {
width: 100%;
border-radius: 12px;
display: flex;
justify-content: center;
align-items: center;
}

.green{
max-width: 540px;
width: 100%;
margin:  auto;
border-radius: 4px;
display: inline;
text-align: center;
justify-content: space-between;

}


.green  #imagee{
    width: 150;
    height: 150;
}


.inside{
display: flex;
justify-content: center;
align-items: center;
}




.continer{
margin: 0 auto;
margin-top: 6%;
padding: 30px;
width: 90%;
height: 500px;
/* background-color: rgba(138, 136, 136, 0.538); */
border: 2px solid #26e2b6;
border-radius: 13px;
overflow: hidden;
position: relative;
}



.continer  .gosh{
height: 60px;
padding: 0 4px;
/* background-color: #26e2b68f; */
display: flex;
justify-content: center;
align-items: center;
}




.inpt{
width: 100%;
margin: 10px auto;
padding: 20px 0;
color:#1140b6 ;
/* background-color: #dae71d9c; */
font-size: 19px;
font-weight: 600;
display: flex;
justify-content: space-around;
/* position: relative; */
}

.inpt .create{
margin-top: 10px;
padding: 8px 12px;
border: none;
outline: none;
border-radius: 12px;
background-color: #1d4ab0;
color: #26e2b6;
font-size: 15px;
font-weight: 600;
cursor: pointer;

}
.inpt .create:hover{
background-color: #0C359E;
}

.inpt #page3,
.inpt #page2,
.inpt #page1{
    margin: 0 auto;
}

.tel #title{
    margin: 2px 0;
    padding-left: 22px;
    letter-spacing: .5px;
}

.tel{
    text-align: left;
    margin: 13px 0 ;
}

.tel label {
    font-size: 14px;
    margin-left: 15px;
}
.inpt input{
width: 100%;
border: none;
border-radius: 0 0 0 26px;
border-bottom: 1px solid #1d4ab0 ;
color: rgb(255, 255, 255);
font-size: 11px;
font-weight: 600;
outline: none;
/* background: linear-gradient(to right, #0c359edd , #58ad5f); */
background-color: #0c359e00;
padding: 9px 12px ;
}
.inpt input::selection{
background-color: #58ad5f;
color: #fff;
}

.inpt #sbmt{
    margin-left: 70%;
}

.info #page3{
    width: 90%;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 0, 0.563); */
    /* position: relative; */
    text-align: left;

}

.info #page3 .page3one {
    width: 100%; 
    font-size: 14px;
    /* background-color: #5c73ae8b; */
/* padding:   9px; */
} 


.info #page3 .page3one textarea{
width: 100%;
border: 1px solid  #26e2b674;
outline: none;
background-color: #26e2b602;
color: #fff;
border-radius: 12px;
padding: 0 6px;
margin: 15px 0;
font-size: 14px;
}
::placeholder{
    color: #1de7b887;
}

.move {
width: 85%;
display: flex;
justify-content: space-between;
color: #0C359E;
/* background-color: #1de7b8b7; */
font-size: 34px;
position: absolute;
bottom: 20px;
}

.move i{
cursor: pointer;
}

.move #next{
    margin-left: 93% ;
}


#page0{
    padding-top: 10%;
    height: 100%;
    /* background-color: #546fb333; */

}
#page0 h1{
    margin-top: 30px;
    color: #fff;
}

#page0 button{
    padding: 7px;
    width: 80px;
    margin-top: 40px;
    border-radius: 12px;
    border: none;
    outline: none;
    background-color: #1140b699;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}
#page0 button:hover{
    background-color: #1140b657;
}

#Choix,
#annee{
    background-color: #1140b600;
    width: 100%;
    border: none;
    border-radius: 0 0 0 26px;
    border-bottom: 1px solid #1d4ab0 ;
    color: #26e2b6;
    font-size: 11px;
    font-weight: 600;
    outline: none;
    background-color: #0c359e00;
    padding: 9px 12px ;
    
}
.tel option{
    color: #0C359E;
}

#error{
    width: 100%;
    margin-top: 20px;
    color: red;
    font-size: 15px;
}

.page5{
    margin-top: -30px;
    background: linear-gradient(95deg, #1D4DAF, #3FE196);
    border-radius: 10px;
    width: 350px;
    height: 100vh;
    overflow: auto;
}
.page5 img {
    width: 90px ;
    height: 90px;
    border-radius: 50%;
    margin: 10px 0 0; 
    box-shadow: 2px 2px 12px rgb(111, 108, 108);
}
.page5 .divindise{
    margin: 0 auto;
    height:45vh;
    /* background-color: #2a915892; */
    border-radius: 12px;
    width: 90%;
    overflow: hidden;
    padding: 1px 0 0;
}
.page5 .divindise h4 {
    color: #ffffff;
    text-shadow: 2px 2px 10px black;
    margin:  0;
    margin: 10px 0;
}
.contactUs{
    /* background-color: #51d88e6e; */
    width: 90%;
    height: 100%;
    margin: 0 auto;
    padding-top: 2px;
    border-radius: 18px 18px 0 0 ;
}

.lastone{
    margin: 0 auto;
    width: 80%;
    height: 40vh;
    /* background-color: #6eb48d; */
    border-radius: 10px;
    padding: 15px 0  0 10px;
}
.contact{
    display: flex;
    align-items: center;
    margin:  0 0 14px 10px;
}
.contact    .info{
    font-size: small;
    text-align: left;
    margin-left: 10px;
}

a{
    text-decoration: none;

}
.btn a{
    width: 90px;
    padding: 5px 20px;
    background-color: #0c359e52;
    color: #e1e1e18f;
    border: none;
    outline: none;
    border-radius: 10px;
    font-weight: 600;
    margin-bottom: 20px;
}
    /* ------------------  circle ---------------- */
    
    /* calcuL  (   473 - (472 * value )   ) */
circle {
    fill : none ;
    stroke: url(#GradientColor);
    stroke-width: 12px;
    stroke-dasharray: 376;
    stroke-dashoffset: 376;
    animation: anim 2s linear forwards;
}
@keyframes anim{
    100%{
        stroke-dashoffset : 300;
    }
} 